*{
    margin: 0;
    padding: 0;
}

html 
{
    scroll-behavior: smooth;
}

.section-container
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-section-one
{
    background-image: url(../assets/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-section-two
{
    background-image: url(../assets/background2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container
{
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    max-width: 450px;
    display: grid;
}

input
{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 12px;
    background: #000;
    color: #fff;
}

input[type=text]:focus 
{
    background-color: lightblue;
}

input[type=button], input[type=submit], input[type=reset] {
  width: 50%;
  background-color: #000;
  border: none;
  color: #fff;
  padding: 4px 32px;
  text-decoration: none;
  margin: 4px 110px;
  cursor: pointer;
}

.texto-intro
{
    color: #fff;
    text-align: center;
    margin: 50px;
    font-size: 5vh;
}

form
{
    display: grid;
}

.subscribe-text
{
    color: #000;
    font-size: 2vh;
    margin: 20px;
}

footer
{
    height: 150px;
    padding: 25px;
    text-align: center;
    background-color:#000;
    color: #fff;
}