*{
    margin: 0;
    padding: 0;
}

html 
{
    scroll-behavior: smooth;
}

.section-container
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.background-section-one
{
    background-image: url(../assets/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-section-two
{
    background-image: url(../assets/background2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-container
{
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    max-width: 90%;
    width: 80%;
    display: grid;
}

input
{
    width: 35vh;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: space-around;
    border-radius: 12px;
    background: #000;
    color: #fff;
}

input[type=text]:focus 
{
    font-family: 'Calibri', monospace;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

input[type=button], input[type=submit], input[type=reset] {
  width: 50%;
  background-color: #000;
  border: none;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  margin: 2px 9vh;
  cursor: pointer;
}

.texto-intro
{
    font-family: 'Calibri', monospace;
    font-weight: 550;
    color: #fff;
    text-align: center;
    margin: 50px;
    font-size: 150%;
}

form
{
    display: grid;
    justify-content: center;
}

.subscribe-text
{
    font-family: 'Calibri monospace', Calibri;
    font-weight: 500;
    color: #000;
    font-size: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

footer
{
    font-family: 'Times New Roman', Times, serif;
    height: 150px;
    padding: 25px;
    text-align: center;
    background-color:#000;
    color: #fff;
}